body {
  font-family: Arial;
  background-color: #f2f2f2;
}

.card {
  width: 300px;
  background: white;
  padding: 15px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  margin: 10px 0;
}

.card p {
  margin: 10px 0;
}

.card button {
  padding: 10px 20px;
  border: none;
  background: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}